body {
  font-family: 'Comfortaa', cursive;
  background: #eee;
  letter-spacing: 0.25em;
  overflow: auto;

}

a {
  text-decoration: none;
  color: inherit;
}

.gameTitle {
  text-align: center;
  margin-top: 2em;
}

h1 {
  color: #F87060;
  font-weight: 700;
  position: relative;
  padding-top: 150px;
}

.question {
  margin: 15px auto;
  max-width: 600px;
  line-height: 2;
  text-align: left;
  border-bottom: solid 2px #4392F1;
  padding: 20px 0px 0px 0px;
}


.partOne {
  color: #4392F1;
}

.secondCategory {
  margin: 25px;

}
.row-category {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.column-category {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1
}

.music-column {
  max-width: 300px;
  max-height: 300px;
  margin: 3em 1em;
  background: #4392F1;
  border-radius: 30px 0 30px 30px;
  box-shadow: 0px 2px 1px -1px #ffffff;
  padding: 20px;
}

.act-column {
  max-width: 300px;
  max-height: 300px;
  margin: 3em 1em;
  background: #4392F1;
  border-radius: 30px 0 30px 30px;
  box-shadow: 0px 2px 1px -1px #ffffff;
  padding: 20px;
}

.sport-column {
  max-width: 300px;
  max-height: 300px;
  margin: 3em 1em;
  background: #4392F1;
  border-radius: 30px 0 30px 30px;
  box-shadow: 0px 2px 1px -1px #ffffff;
  padding: 20px;
}

.material-icons {
   color: rgba(0, 0, 0, 0.54);
  font-size: 150px;
}

.music-column:hover {
  background-color: #F87060;
  opacity: 0.7;
  transition: opacity 0.5s;
}

.act-column:hover {
  background-color: #F87060;
  opacity: 0.7;
  transition: opacity 0.5s;
}

.sport-column:hover {
  background-color: #F87060;
  opacity: 0.7;
  transition: opacity 0.5s;
}
