body {
  font-family: 'Comfortaa', cursive;
  background: #eee;
  letter-spacing: 0.25em;
  overflow: auto;

}

.gameTitle {
  text-align: center;
  margin-top: 2em;
}

h1 {
  color: #F87060;
  font-weight: 700;
  position: relative;
  padding-top: 150px;
}

.question {
  margin: 15px auto;
  max-width: 600px;
  line-height: 2;
  text-align: left;
  border-bottom: solid 2px #4392F1;
  padding: 20px 0px 0px 0px;
}


.partOne {
  color: #4392F1;
}

.imageContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.containerImg {
  max-width: 300px;
  max-height: 300px;
  object-fit: fill;
  overflow: hidden;
  margin: 3em 1em;
  background: #FFFFFF;
  border-radius: 30px 0 30px 30px;
  box-shadow: 0px 2px 1px -1px #ffffff;

}

.countryImg {
  position: relative;
  width: 100%;
  height: 100%;

  }

a:hover {
  background-color: #ffffff;
  opacity: 0.5;
  transition: opacity 0.3s;
  box-shadow: 0px 5px 5px -3px #EF233C
}

.secondCategory {
  margin: 25px;
  
}
.row-category {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%
}

.column-category {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1
}

.column1 {
  background-color: orange;
  height: 100px;
}

.column2 {
  background-color: blue;
  height: 100px;
}
